// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-table/dist/bootstrap-table.min.css';


body{
	font-size: 13px;
	background-color: #2c2f36;
}

header{
    width: 100%;
}

nav{
    background: #2c2f36;
    border-bottom: 5px solid rgba(0,0,0,0.3);
    border-top: 5px solid #E7BF3A;
    
    ul{
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        li{
            background: #2c2f36;
            text-align: center;
            padding: 20px;
            list-style-type: none;
            a{
                text-transform: none;
                font-size: 15px;
                display: block;
                cursor: pointer;
                text-decoration: none;
                color: #828691;
                &:hover{
                    color: #E7BF3A;
                    text-decoration: none;
                }
            }
            &:hover {
                background: #3f444a;
                a{
                    color: #E7BF3A;
                    text-decoration: none;
                }
            }
        }
    }
}







// components

.bg-dark-blue {
	background: #2c2f36;
}

.bg-dark-blue p {
	color: #fff;
}
.bg-dark-blue h2 {
	color: #fff;
}

.content {
	padding: 60px 45px;
    color: #fff;
    // padding: 30px 20px;
}

.title-default {
	display: inline-block;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
}
.title-default h2 {
	color: #fff;
	padding: 10px 30px;
	text-transform: none;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
}

// table

.table-default {
    width: 100%;
    input{
        width: 30px;
        border: 1px solid #000;
        background-color: #2c2f36;
        color: #ff0;
        text-align: center;
        &:hover{
            border: 1px solid #000;
        }
        &:focus{
            border: 1px solid #000;
            outline: none;
        }
    }
}

.table-default tr td {
	padding: 10px;
	font-size: 14px;
	li{
		list-style: none;
	}
}
.table-default tr:hover  td{
	background: #3f444a;
}
.table-default a {
	color: #E7BF3A!important;
}
.table-default thead tr td {
	background: #14161b;
}

.table-default tbody tr td {
	background: #1F2126;
	border-bottom: 1px solid #2b2d32;
}

.table-default tbody tr:hover td {
	background: #3f444a;
}

.table-default tr.t-header td {
	background: #14161b;
	border-bottom: none;
	ul{
		padding-left: 0;
		list-style-type: none;
		margin-bottom: 0;
		li{
			padding: 10px;
			text-align: center;
			height: 70px;
			// &:nth-child(2){
			// 	background-color: #1F2126;
			// }
		}
	}	
}
.table-default tr.t-header:hover td {
	background: #14161b;	
}

.table-default tr td i {
	float: right;
}

.table-default .countdown-mini div {
	padding: 0 10px;
}

.table-default .countdown-mini {
	float: right;
}

// .table-default span {
// 	padding: 0 10px;
// }








.button {
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	font-size: 15px;
	font-weight: 400;
    font-family: Open Sans, Arial, sans-serif;
    background: transparent;
}

.black {
	color: #2c2f36;
	border: 1px solid #2c2f36;
}
.black:hover {
	color: #fff;
	border: 1px solid #2c2f36;
	background: #2c2f36;
}
.black-bg {
	color: #fff;
	border: 1px solid #2c2f36;
	background: #2c2f36;
}
.black-bg:hover {
	color: #2c2f36;
	border: 1px solid #2c2f36;
	background: none;
}

.white {
	color: #fff;
	border: 1px solid #fff;
}
.white:hover {
	color: #2c2f36;
	border: 1px solid #2c2f36;
	background: #fff;
}
.white-bg {
	color: #2c2f36;
	background: #fff;
	border: 1px solid #fff;
}
.white-bg:hover {
	color: #fff;
	border: 1px solid #fff;
	background: none;
}

.blue {
	color: #46a1de;
	border: 1px solid #46a1de;
}
.blue:hover {
	color: #fff;
	border: 1px solid #46a1de;
	background: #46a1de;
}
.blue-bg {
	color: #fff;
	border: 1px solid #46a1de;
	background: #46a1de;
}
.blue-bg:hover {
	color: #46a1de;
	border: 1px solid #46a1de;
	background: none;
}

.red {
	color: #e74c3c;
	border: 1px solid #e74c3c;
}
.red:hover {
	color: #fff;
	border: 1px solid #e74c3c;
	background: #e74c3c;
}
.red-bg {
	color: #fff;
	border: 1px solid #e74c3c;
	background: #e74c3c;
}
.red-bg:hover {
	color: #e74c3c;
	border: 1px solid #e74c3c;
	background: none;
}

.green {
	color: #2ecc71;
	border: 1px solid #2ecc71;
}
.green:hover {
	color: #fff;
	border: 1px solid #2ecc71;
	background: #2ecc71;
}
.green-bg {
	color: #fff;
	border: 1px solid #2ecc71;
	background: #2ecc71;
}
.green-bg:hover {
	color: #2ecc71;
	border: 1px solid #2ecc71;
	background: none;
}

.grey {
	color: #bdc3c7;
	border: 1px solid #bdc3c7;
}
.grey:hover {
	color: #2c2f36;
	border: 1px solid #bdc3c7;
	background: #bdc3c7;
}
.grey-bg {
	color: #fff;
	border: 1px solid #bdc3c7;
	background: #bdc3c7;
}
.grey-bg:hover {
	color: #bdc3c7;
	border: 1px solid #bdc3c7;
	background: none;
}

.yellow {
	color: #ffd800;
	border: 1px solid #E7BF3A;
}
.yellow:hover {
	color: #000;
	border: 1px solid #E7BF3A;
	background: #E7BF3A;
}
.yellow-bg {
	color: #fff;
	border: 1px solid #E7BF3A;
	background: #E7BF3A;
}
.yellow-bg:hover {
	color: #ffd800;
	border: 1px solid #E7BF3A;
	background: none;
}

.form{
	max-width: 500px;
	margin: auto;
}

.form-input{
	display: flex;
    justify-content: center;
	align-items: center;
	padding: 10px 0;

	.form-alert{
		color: #ff0;
		display: block;
		text-align: center;
		width: 100%;
		margin-top: 0.25rem;
		font-size: 80%;
	}
	
	input{
		width: 100%;
		padding: 10px 0;
		font-size: 13px;
		font-family: Arial, sans-serif;
		border: none;
		text-align: center;
		outline: none;
	}

	.checkbox{
		width: 30px;
	}

	label{
		margin: 0;
	}

	a{
		color: #fff;
		text-decoration: none;
		font-weight: 400;
		&:hover{
			color: #ff0;
		}
	}
}


.match{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	.match__status{
		width: 10%;
		// flex-basis: 35px;
	}
	.match__teamname{
		width: 33%;
		&:last-child{
			width: 42%;
		}
	}
	.match__score{
		width: 15%;
	}
}

.blink {
	animation: blinker 2s linear infinite;
  }

@keyframes blinker {  
	50% { opacity: 0; }
}

@media screen and (max-width: 950px) {
	.table-default#rank tr td:not(:first-child):not(:nth-last-child(-n+10)){
		display: none;
	}
}

@media screen and (max-width: 750px) {
	.content{
		padding: 0;
	}
	.table-default#rank tr td:not(:first-child):not(:nth-last-child(-n+8)){
		display: none;
	}
	.container-fluid{
		padding: 0;
	}
}

@media screen and (max-width: 500px) {
	.table-default#rank tr td:not(:first-child):not(:nth-last-child(-n+4)){
		display: none;
	}

	.table-default#standing tr td:not(:first-child):not(:nth-child(2)):not(:last-child):not(:nth-child(3)){
		display: none;
	}
}